<table class="page-grid">
	<tr>
		<td valign="top" class="property-cell">
			{{property-table model=entity showProperty="showPropertyValues"}}
		</td>
		<td valign="top" width="100%" height="100%" class="chart-cell">
			<!-- <h2>{{entityName}}</h2> -->
				
			{{#if entityAvailable}}
				<!-- {{#if visibleProperty}}
					<h3>{{visibleProperty.name}}</h3>
				{{/if}} -->
				
				{{line-chart data=visibleProperty}}
				
				<!-- {{#if visibleProperty}}
					<h4 class="label-source">Source: {{visibleProperty.source}}</h4>
					<h4 class="label-type">{{visibleProperty.type}}</h4>
				{{/if}} -->
			{{else}}
				<h3>Entity has no attributes</h3>
			{{/if}}
		</td>
	</tr>
</table>

