<table class="page-grid">
	<tr>
		<td valign="top" class="property-cell">
			{{#if entityAvailable}}
				{{property-table model=entity showProperty="showPropertyValues"}}
			{{/if}}
		</td>
		<td valign="top" width="100%" height="100%" class="chart-cell">	
			<h2>{{entityName}}</h2>
		
			{{#if entityAvailable}}
				{{line-chart data=visibleProperty height="95%"}}
				
				<!-- {{#if visibleProperty}}
					<h4 class="label-source">Source: {{visibleProperty.source}}</h4>
				{{/if}} -->
			{{else}}
				<h3>Data not available</h3>
			{{/if}}
		</td>
	</tr>
</table>

