<table class="page-grid">
	<tr>
		<td valign="top" class="property-cell" style="padding-top: 30px;">
			{{#if entityAvailable}}
				{{property-table model=entity showProperty="showPropertyValues"}}
			{{/if}}
		</td>
		<td valign="top" width="100%" height="100%" class="chart-cell">	
			<h1 style="text-align: center">{{entityName}}</h1>
		
			{{#if entityAvailable}}
				<p style="float: left; margin-top: 185px; margin-left: -8px;" class="vertical-text">[{{visibleProperty.type}}]</p>
				<div style="padding-left: 10px">
				  {{line-chart data=visibleProperty height="350px"}}
				</div>
				<p style="float: right">[min]</p>
				
				<!-- {{#if visibleProperty}}
					<h4 class="label-source">Source: {{visibleProperty.source}}</h4>
				{{/if}} -->
			{{else}}
				<h3>Data not available</h3>
			{{/if}}
		</td>
	</tr>
</table>

