
<table height="100%">
	{{#if entityName}}
		<tr>
			<th colspan="2">
					<h2>{{entityName}}</h2>
			</th>
		</tr>
	{{/if}}
	<tr>
		{{#if entityAvailable}}
			<td class="column-left" valign="top">
				{{property-table model=entity showProperty="showPropertyValues"}}
			</td>
			<td class="column-right">
				{{#if visibleProperty}}
					<h3>{{visibleProperty.name}}</h3>
				{{/if}}
				
				{{line-chart data=visibleProperty.values}}
				
				{{#if visibleProperty}}
					<h4 class="label-source">Source: {{visibleProperty.source}}</h4>
					<h4 class="label-type">{{visibleProperty.type}}</h4>
				{{/if}}
			</td>
		{{else}}
			<h3>Entity has no attributes</h3>
		{{/if}}
	</tr>
</table>

