<table class="page-grid">
	<tr>
		<td valign="top" class="property-cell">
			{{#if entityAvailable}}
				{{property-table model=entity showProperty="showPropertyValues"}}
			{{/if}}
		</td>
		<td valign="top" width="100%" height="100%" class="chart-cell">	
			{{#if entityAvailable}}
				<h3>{{entityName}}</h3>
			
				{{#if visibleProperty}}
					<h4>{{visibleProperty.name}} [{{visibleProperty.type}}]</h4>
				{{/if}}
				
				{{line-chart data=visibleProperty}}
				
				<!-- {{#if visibleProperty}}
					<h4 class="label-source">Source: {{visibleProperty.source}}</h4>
				{{/if}} -->
			{{else}}
				<h3>{{entityName}} not found</h3>
			{{/if}}
		</td>
	</tr>
</table>

