<table height="100%">
	{{#if entityName}}
		<tr>
			<th colspan="2">
					<h2>{{entityName}}</h2>
			</th>
		</tr>
	{{/if}}
	<tr>
		<td class="column-left" valign="top">
			{{property-table model=entity showProperty="showPropertyValues"}}
		</td>
		<td class="column-right">
			{{#if visibleProperty}}
				<h3>{{visibleProperty.name}}</h3>
			{{/if}}
			
			{{line-chart data=visibleProperty.values}}
			
			{{#if visibleProperty}}
				<h4>{{visibleProperty.type}}</h4>
			{{/if}}
		</td>
	</tr>
</table>
