{{name}}: {{value}}

{{#if isShowingModal}}
  {{#modal-dialog attachment="middle center" translucentOverlay=true}}
    <h1>Value</h1>

    <form class="form-widget-value" {{action 'submitModal' on='submit'}} >
      <table>
        <tr>
          <td>
            <label for="name">Name</label>
          </td>
          <td>
            {{input id='name' placeholder='Enter widget name' value=name}}
          </td>
        </tr>
        <tr>
          <td>
            <label for="simulator">Simulator</label>
          </td>
          <td>
            <select onchange={{action "selectSimulationModel" value="target.value"}}>
              {{#each widget.visualization.project.simulation.models as |simulationModel|}}
                <option value={{simulationModel.name}} selected={{eq simulationModelName simulationModel.name}}>{{simulationModel.name}}</option>
              {{/each}}
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="signal">Signal</label>
          </td>
          <td>
            <select onchange={{action "selectSignal" value="target.value"}}>
              {{#each simulationModel.mapping as |signal|}}
                <option value={{signal}} selected={{eq signalName signal}}>{{signal}}</option>
              {{/each}}
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button {{action 'cancelModal'}}>Cancel</button>
            <button type="submit">Save</button>
            <button {{action 'deleteModal'}}>Delete</button>
          </td>
        </tr>
      </table>
    </form>

    {{#if errorMessage}}
      <p><b>Error:</b> {{errorMessage}}</p>
    {{/if}}
  {{/modal-dialog}}
{{/if}}
