{{#if widget.widgetData.path}}
  <img src={{concat url "/" widget.widgetData.path}} width="100%" />
{{/if}}

{{#if isShowingModal}}
  {{#modal-dialog attachment="middle center" translucentOverlay=true}}
    <h1>Image</h1>

    <form class="form-widget-image" {{action 'submitModal' on='submit'}} >
      <table>
        <tr>
          <td>
            <label for="name">Name</label>
          </td>
          <td>
            {{input id='name' placeholder='Enter widget name' value=name}}
          </td>
        </tr>
        <tr>
          <td>
            <label for="image">Image</label>
          </td>
          <td>
            <select onchange={{action "selectImage" value="target.value"}}>
              {{#each widget.visualization.project.owner.files as |imageFile|}}
                <option value={{imageFile.name}} selected={{eq imageFile.name image}}>{{imageFile.name}}</option>
              {{/each}}
            </select>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            {{file-upload files=uploadFiles}} <button {{action 'upload'}}>Upload</button>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button {{action 'cancelModal'}}>Cancel</button>
            <button type="submit">Save</button>
          </td>
        </tr>
      </table>
    </form>

    {{#if errorMessage}}
      <p><b>Error:</b> {{errorMessage}}</p>
    {{/if}}
  {{/modal-dialog}}
{{/if}}
