<h1>New user</h1>

<section id="user-new">
  <form id="user-new-form" {{action 'newUser' on='submit'}} >
    <p>
      <label for="username">Name</label>
      {{input id='username' placeholder='Enter username' value=username}}
    </p>
    <p>
      <label for="password">Name</label>
      {{input id='password' placeholder='Enter password' type='password' value=password}}
    </p>

    <button {{action 'cancelNewUser'}}>Cancel</button>
    <button type="submit">Create</button>

    {{#if errorMessage}}
      <p>{{errorMessage.message}}</p>
    {{/if}}
  </form>
</section>
