<h1>New model</h1>

<form class="form-create-record" {{action 'newModel' on='submit'}}>
  <table>
    <tr>
      <td>
        <label for="name">Name</label>
      </td>
      <td>
        {{input id='name' placeholder='Enter model name' value=name}}
      </td>
    </tr>
    <tr>
      <td>
        <label for="simulator">Simulator</label>
      </td>
      <td>
        <select onchange={{action "selectSimulator" value="target.value"}}>
          {{#each model.simulators as |simulator|}}
            <option value={{simulator.name}}>{{simulator.name}}</option>
          {{/each}}
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button {{action 'cancelNewModel'}}>Cancel</button>
        <button type="submit">Create</button>
      </td>
    </tr>
  </table>
</form>
