<section id="lapMashupApp">
	<header class="row">
		<div id="title">
			European Real-Time Integrated Co-Simulation Demo
		</div>
		<div id="logos">
			<img src={{"assets/images/EU.svg"}} class="svg-logo" />
			<img src={{"assets/images/RWTH.svg"}} class="svg-logo" id="rwth-logo" />
			<img src={{"assets/images/Logo3_Polito.svg"}} class="svg-logo" />
			<img src={{"assets/images/flexmeter_logo.svg"}} class="svg-logo" />
		</div>
	</header>

	{{outlet}}
</section>
