<section id="lapMashupApp">
	<header class="row">
		<div id="title">
			ERIC Lab
			<br />
			European Real-Time Integrated Co-Simulation Lab
		</div>
		<div id="logos">
			<img src={{"assets/images/EU.svg"}} class="svg-logo" />
			<img src={{"assets/images/RWTH.svg"}} class="svg-logo" id="rwth-logo" />
			<img src={{"assets/images/PoliTo.svg"}} class="svg-logo" />
			<img src={{"assets/images/flexmeter_logo.svg"}} class="svg-logo" />
		</div>
	</header>

	{{outlet}}
</section>


<footer class="row">
	<p>&copy; 2015 - Institute for Automation of Complex Power Systems</p>
</footer>
