<section id="main">
	<table class="grid">
		<tr style="height: 50%">
			<td colspan="2" style="padding-top: 20px; padding-right: 5px;">
				<div class="layout-page" id="simulation-page">
					<img src={{"assets/images/ts_ds_grid_withsimulators_web.png"}} width="100%" />
				</div>
			</td>
			<td width="33%" style="padding-top: 20px;">
			  <div class="layout-page">
			    <h1>Control Center</h1>

			    <h2>Voltage203937</h2>
			    <p style="float: left; margin-top: 85px; margin-left: -15px" class="vertical-text">[pu]</p>
			    {{line-chart data=S2Voltage203937 height="150px" useLabel=false}}
			    <p style="float: right">[min]</p>

			    <h2 style="margin-top: 20px;">Frequency at the substation bus</h2>
			    <p style="float: left; margin-top: 85px; margin-left: -15px" class="vertical-text">[Hz]</p>
			    {{line-chart data=S1Freq575 height="150px" useLabel=false}}
			    <p style="float: right">[min]</p>
			  </div>
			</td>
		</tr>
		<tr style="height: 50%">
			<td width="33%" style="padding-bottom: 20px;">
				{{entity-chart entity=S1Entity entityName="Transmission system simulation"}}
			</td>
			<td width="33%" style="padding-bottom: 20px;">
				{{entity-chart entity=S2Entity entityName="Distribution system simulation"}}
			</td>
			<td style="width: 33%; padding-bottom: 20px;">
			  <div class="layout-page" id="consumer-page">
					<h1 style="text-align: center">Prosumer behavior</h1>

					<h2>Total consumption</h2>
					<p style="float: left; margin-top: 85px; margin-left: -15px" class="vertical-text">[MW]</p>
					{{line-chart data=S3LoadProfile height="150px" useLabel=false}}
					<p style="float: right;">[min]</p>

					<h2>Total PV generation</h2>
					<p style="float: left; margin-top: 85px; margin-left: -15px;" class="vertical-text">[MW]</p>
					{{line-chart data=S3GenProfile height="150px" useLabel=false}}
					<p style="float: right;">[min]</p>
				</div>
			</td>
		</tr>
	</table>
</section>
