<section class="row" id="main">
	<table class="grid">
		<tr>
			<td style="padding-top: 20px;">
				<div class="layout-page">
				  <table class="page-grid">
				    <tr>
				      <td style="width: 25%">
					<h3>
					  Italy - Piedmont region
					</h3>
					{{#if initState}}
					  <img src={{"assets/images/TS_section/TSmap_m1.gif"}} id="TS-image" />
					{{/if}}
					{{#if eventState}}
					  <img src={{"assets/images/TS_section/TSmap_m2.gif"}} id="TS-image" />
					{{/if}}
				      </td>
				      <td style="width: 50%">
					<h2>Transmission system simulation</h2>

					<p>
					  Piedmont Region - Italy
					  <ul>
					    <li>Surface area: 25,4 km&#178;</li>
					    <li>Inhabitants: 4,45 m</li>
					  </ul>

					  380-220kV transmission system:
					  <ul>
					    <li>90 buses, 20 generators and 110 lines</li>
					    <li>Electric power capacity: 8458 MW</li>
					  </ul>
					</p>

					{{d3-gauge label="Frequency" value=Freq575Value maxValue=60 minorTicks=4 redZones=redZone yellowZones=yellowZone}}
				      </td>
				      <td style="width: 25%">
					<img src={{"assets/images/TS_section/TS_fig1.svg"}} class="svg-image" />
				      </td>
				    </tr>
				  </table>
				</div>
			</td>
			<td style="padding-top: 20px;">
				<div class="layout-page">
					<table class="page-grid">
					  <tr style="height: 25%">
					    <td style="width: 25%">
					    </td>
					    <td style="width: 50%" colspan="2">
					      <h2>Control Center</h2>
					    </td>
					    <td style="width: 25%">
					      <img src={{"assets/images/ControlCenter_section/CS_fig1.svg"}} class="svg-image" />
					    </td>
					  </tr>
					  <tr style="height: 75%">
					    <td style="width: 50%" colspan="2">
					      <h3>
						Distribution grid monitoring
						<br />
						Voltage measurement
					      </h3>

					      {{line-chart data=Voltage203937 height="90%"}}
					    </td>
					    <td style="width: 50%" colspan="2">
					      <button {{action 'resetData'}} disabled={{initState}}>Reset</button>
					      <button {{action 'eventData'}} disabled={{eventState}}>Event</button>
					    </td>
					  </tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="padding-bottom: 20px;">
				<div class="layout-page">
				  <table class="page-grid">
				    <tr>
				      <td style="width: 40%">
					<h3>
					  Italy - Piedmont - Turin
					</h3>
					{{#if initState}}
					  <img src={{"assets/images/DS_section/DSmap_m1.gif"}} id="DS-image" />
					{{/if}}
					{{#if eventState}}
					  <img src={{"assets/images/DS_section/DSmap_m2.gif"}} id="DS-image" />
					{{/if}}
				      </td>
				      <td style="width: 35%">
					<h2>Distribution system simulation</h2>

					<p>
					  Turin - Piedmont - Italy<br />
					  22kV distribution system<br />
					  <ul>
					    <li>Five Medium Voltage lines derived from Stura HV/MV substation (220/22 kV)</li>
					    <li>50 buses, 49 lines</li>
					    <li>742 mono-phase and 8293 three-phase LV customers</li>
					    <li>6 MV customers</li>
					    <li>4 PV generators</li>
					    <li>Total length of lines: 38,54 km</li>
					  </ul>
					</p>
				      </td>
				      <td style="width: 25%">
					<img src={{"assets/images/DS_section/DS_fig1.svg"}} class="svg-image" />
				      </td>
				    </tr>
				  </table>
				  
				</div>
			</td>
			<td style="padding-bottom: 20px;">
				<div class="layout-page">
					<table class="page-grid">
					  <tr style="height: 25%">
					    <td style="width: 25%">
					    </td>
					    <td style="width: 50%" colspan="2">
					      <h2>Prosumer behavior</h2>
					    </td>
					    <td style="width: 25%">
					      <img src={{"assets/images/Prosumer_section/Cnsmr_fig1.svg"}} class="svg-image" />
					    </td>
					  </tr>
					  <tr style="height: 75%">
					    <td style="width: 50%" colspan="2">
					      <h3>
						Prosumer: Consumption and generation profiles
					      </h3>

					      {{line-chart data=LoadProfile height="40%"}}
					    </td>
					    <td style="width: 50%" colspan="2">
					      <img src={{"assets/images/Prosumer_section/Cnsmr_fig2.svg"}} class="svg-image" />
					    </td>
					  </tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</section>
