<section class="row" id="main">
	<table class="grid">
		<tr>
			<td style="padding-top: 5px;">
				<div class="layout-page">
				  <h2>Transmission system simulation</h2>
				  <table class="page-grid">
				    <tr style="height: 15%">
				      <td style="width: 25%" rowspan="2">
					<h3>
					  Italy - Piedmont region
					</h3>
					{{#if initState}}
					  <img src={{"assets/images/TS_section/TSmap_m1.gif"}} id="TS-image" />
					{{/if}}
					{{#if eventState}}
					  <img src={{"assets/images/TS_section/TSmap_m2.gif"}} id="TS-image" />
					{{/if}}
				      </td>
				      <td style="width: 50%; padding-left: 20px">
				      </td>
				      <td style="width: 25%">
					<img src={{"assets/images/TS_section/TS_fig1.svg"}} class="svg-image" style="float: right; margin-top: -20px" />
				      </td>
				    </tr>
				    <tr style="height: 85%">
				      <td style="width: 40%">
					<div style="padding-top: 0px">
					  
					  </div>
				      </td>
				      <td style="width: 35%">
					<p style="">
					    Piedmont Region - Italy
					    <ul>
					      <li>Surface area: 25400 km&#178;</li>
					      <li>Inhabitants: 4.45 million</li>
					      <li>Electric power capacity: 8458 MW</li>
					    </ul>
					  </p>
					<div style="padding-top: 40px;">
					  {{d3-alarm value=freq575Value alarmZones=freq575AlarmZones size=35}}
					  {{d3-gauge label="Freq" value=freq575Value minValue=49 maxValue=51 minorTicks=4 size=120 greenZones=freq575GreenZones yellowZones=freq575YellowZones}}
					</div>
					<div style="width: 100%; margin-top: 150px">
					  <h3 style="padding-left: 10px">
					    Frequency measurement<br />
					    at STURA substation
					  </h3>
					</div>
				      </td>
				    </tr>
				  </table>
				</div>
			</td>
			<td style="padding-top: 5px;">
				<div class="layout-page">
					<table class="page-grid">
					  <tr style="height: 25%">
					    <td style="width: 25%">
					    </td>
					    <td style="width: 50%" colspan="2">
					      <h2>Control Center</h2>
					    </td>
					    <td style="width: 25%">
					      <img src={{"assets/images/ControlCenter_section/CS_fig1.svg"}} class="svg-image" style="float: right; width: 40% !important" />
					    </td>
					  </tr>
					  <tr style="height: 75%">
					    <td style="width: 50%" colspan="2">
					      <h3 style="text-align: center">
						Distribution grid monitoring voltage measurement
					      </h3>

					      {{line-chart data=Voltage203937 height="90%" xaxisLength=120 minValue=0.90  maxValue=1.05 label="RMS voltage [pu]"}}
					    </td>
					    <td style="width: 50%" colspan="2">
						<div style="position: relative; top: 15%; left: 30%">
						  <button {{action 'resetData'}} disabled={{initState}} id="init-button">NORMAL<br />sunny + low demand</button>
						</div>
						<div style="position: relative; top: 30%; left: 30%">
						  <button {{action 'eventData'}} disabled={{eventState}} id="event-button">ABNORMAL<br />cloudy + high demand</button>
						</div>
						<div style="position: relative; top: 48%; left: 76%">
						  <a class="link-button" href="/technical/" target="_blank">Technical</a>
						</div>
					    </td>
					  </tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td style="padding-bottom: 5px;">
				<div class="layout-page">
				  <h2>Distribution system simulation</h2>
				  <table class="page-grid">
				    <tr>
				      <td style="width: 80%" rowspan="2">
					<h3>
					  Italy - Piedmont - Turin
					</h3>
					{{#if initState}}
					  <img src={{"assets/images/DS_section/DSmap_m1.gif"}} id="DS-image" />
					{{/if}}
					{{#if eventState}}
					  <img src={{"assets/images/DS_section/DSmap_m2.gif"}} id="DS-image" />
					{{/if}}
				      </td>
				      <td style="width: 25%">
					<img src={{"assets/images/DS_section/DS_fig1.svg"}} class="svg-image" style="float: right; margin-top: -20px;" />
				      </td>
				    </tr>
				    <tr>
				      <td colspan="2">
					{{bar-chart width='200px' height='250px'}}
					<p style="padding-top: 25px;">
					  Turin - Piedmont - Italy<br />
					  <ul>
					    <li>Medium Voltage lines derived from Stura HV/MV</li>
					    <li>Total length of lines: 38,54 km</li>
					  </ul>
					</p>
				      </td>
				    </tr>
				  </table>
				  
				</div>
			</td>
			<td style="padding-bottom: 5px;">
				<div class="layout-page">
					<table class="page-grid">
					  <tr style="height: 25%">
					    <td style="width: 25%">
					    </td>
					    <td style="width: 50%" colspan="2">
					      <h2>Prosumer behavior</h2>
					    </td>
					    <td style="width: 25%">
					      <img src={{"assets/images/Prosumer_section/Cnsmr_fig1.svg"}} class="svg-image" style="float: right; width: 40%;" />
					    </td>
					  </tr>
					  <tr style="height: 75%">
					    <td style="width: 50%; padding-left: 0px" colspan="2">
					      <h3 style="text-align: center">
						Prosumer: Consumption and generation profiles
					      </h3>

					      {{line-chart data=LoadGenProfiles height="90%" minValue=0 maxValue=25 xaxisLength=120}}
					    </td>
					    <td style="width: 50%;" colspan="2">
					      {{#if initState}}
						<img src={{"assets/images/Prosumer_section/Prosumer_gif_m1.gif"}} style="width: 55%; height: auto; float: right; margin-right: 100px" class="shadowed" />
					      {{/if}}
					      {{#if eventState}}
						<img src={{"assets/images/Prosumer_section/Prosumer_gif_m2.gif"}} style="width: 55%; height: auto; float: right; margin-right: 100px" class="shadowed" />
					      {{/if}}
					    </td>
					  </tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</section>
