<section id="main">
	<table class="grid">
		<tr>
			<td colspan="2">
				<div class="layout-page" width="70%">
					<img src={{"assets/images/View2/TransmissionSystem.svg"}} class="svg-image" />
				</div>
			</td>
			<td rowspan="2" width="30%" height="100%">
				<div class="layout-page">
					<h2>Simulation</h2>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br />

					Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="layout-page">
					<table>
						<tr>
							<td class="column-left">
								{{property-table model=S1Entity showProperty="showProperty1Values"}}
							</td>
							<td class="column-right">
								{{#if S1Property}}
									<h3>{{S1Property.name}}</h3>
								{{/if}}
								
								{{line-chart data=S1Property.values}}
								
								{{#if S1Property}}
									<h4>{{S1Property.type}}</h4>
								{{/if}}
							</td>
						</tr>
					</table>
				</div>
			</td>
			<td>
				<div class="layout-page">
					<table>
						<tr>
							<td class="column-left">
								{{property-table model=S2Entity showProperty="showProperty2Values"}}
							</td>
							<td class="column-right">
								<h3>{{S2Property.name}}</h3>
								{{line-chart data=S2Property.values}}
								<h4>{{S2Property.type}}</h4>
							</td>
						</tr>
						</table>
				</div>
			</td>
		</tr>
	</table>
</section>
