<h1>Projects</h1>

<div class="projects-container">
  <table class="table-full-width">
    <tr>
      <th>Name</th>
      <th>Simulation</th>
      <th width="100px"></th>
    </tr>
    {{#each model.projects as |project|}}
      <tr>
        <td>
          {{#link-to "project.index" project.id}}{{project.name}}{{/link-to}}
        </td>
        <td>
          {{project.simulation.name}}
        </td>
        <td>
          <div class="projects-row-controls">
            <a href="" {{action 'showEditModal' project}}>Edit</a>
            <a href="" {{action 'showDeleteModal' project}}>Delete</a>
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
</div>

<div class="projects-new-container">
  <button {{action 'showNewModal'}}>New Project</button>
</div>

{{partial "dialog/projects"}}
