<h1>Projects</h1>

<div class="projects-container">
  <table class="table-full-width">
    <tr>
      <th>Name</th>
      <th>Simulation</th>
      <th width="100px"></th>
    </tr>
    {{#each model.projects as |project|}}
      <tr>
        <td>
          {{#link-to "project.index" project.id}}{{project.name}}{{/link-to}}
        </td>
        <td>
          {{project.simulation.name}}
        </td>
        <td>
          <div class="projects-row-controls">
            <a href="" {{action 'showEditModal' project}}>Edit</a>
            <a href="" {{action 'showDeleteModal' project}}>Delete</a>
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
</div>

<div class="projects-new-container">
  <button {{action 'showNewModal'}}>New Project</button>
</div>

{{#if isShowingNewModal}}
  {{#modal-dialog attachment="middle center" translucentOverlay=true}}
    <h1>New project</h1>

    <form class="form-create-record" {{action 'submitNew' on='submit'}} >
      <table>
        <tr>
          <td>
            <label for="name">Name</label>
          </td>
          <td>
            {{input id='name' placeholder='Enter project name' value=name}}
          </td>
        </tr>
        <tr>
          <td>
            <label for="simulation">Simulation</label>
          </td>
          <td>
            <select onchange={{action "selectSimulation" value="target.value"}}>
              {{#each model.simulations as |simulation|}}
                <option value={{simulation.name}}>{{simulation.name}}</option>
              {{/each}}
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button {{action 'cancelNew'}}>Cancel</button>
            <button type="submit">Create</button>
          </td>
        </tr>
      </table>
    </form>

    {{#if errorMessage}}
      <p><strong>Error:</strong> {{errorMessage}}</p>
    {{/if}}
  {{/modal-dialog}}
{{/if}}

{{#if isShowingEditModal}}
  {{#modal-dialog attachment="middle center" translucentOverlay=true}}
    <h1>Edit project</h1>

    <form class="form-edit-record" {{action 'submitEdit' on='submit'}} >
      <table>
        <tr>
          <td>
            <label for="name">Name</label>
          </td>
          <td>
            {{input id='name' placeholder='Enter project name' value=name}}
          </td>
        </tr>
        <tr>
          <td>
            <label for="simulation">Simulation</label>
          </td>
          <td>
            <select onchange={{action "selectSimulation" value="target.value"}}>
              {{#each model.simulations as |simulation|}}
                <option value={{simulation.name}} selected={{eq simulation.name projectSimulation.name}}>{{simulation.name}}</option>
              {{/each}}
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button {{action 'cancelEdit'}}>Cancel</button>
            <button type="submit">Save</button>
          </td>
        </tr>
      </table>
    </form>

    {{#if errorMessage}}
      <p><strong>Error:</strong> {{errorMessage}}</p>
    {{/if}}
  {{/modal-dialog}}
{{/if}}

{{#if isShowingDeleteModal}}
  {{#modal-dialog attachment="middle center" translucentOverlay=true}}
    <h1>Delete project</h1>

    <p>Are you sure you want to delete the project <b><i>{{project.name}}</i></b>?</p>

    <button {{action 'cancelDelete'}}>Cancel</button>
    <button {{action 'confirmDelete'}}>Delete</button>
  {{/modal-dialog}}
{{/if}}
