<h1>Simulators</h1>

<div class="simulators-container">
  <table class="table-full-width">
    <tr>
      <th>Name</th>
      <th width="80px" class="column-center">ID</th>
      <th width="80px" class="column-center">Running</th>
      <th width="120px" class="column-center">Endpoint</th>
      <!-- <th width="140px"></th> -->
      <th width="100px"></th>
    </tr>
    {{#each model as |simulator|}}
      <tr>
        <td>
          {{simulator.name}}
        </td>
        <td>
          {{simulator.simulatorid}}
        </td>
        <td>
          {{simulator.running}}
        </td>
        <td>
          {{simulator.endpoint}}
        </td>
        <td>
          <div class="simulators-row-controls">
            <!-- <a href="" {{action 'showRunningModal' simulator}}>Running</a> -->
            <a href="" {{action 'showEditModal' simulator}}>Edit</a>
            <a href="" {{action 'showDeleteModal' simulator}}>Delete</a>
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
</div>

<div class="simulators-new-container">
  <button {{action 'showNewModal'}}>New Simulator</button>
</div>

{{partial "dialog/simulators"}}
