<h1>Simulations</h1>

<div class="simulations-container">
  <table class="table-full-width">
    <tr>
      <th>Name</th>
      <th width="80px" class="column-center">Running</th>
      <th width="180px"></th>
    </tr>
    {{#each model as |simulation|}}
      <tr>
        <td>
          {{#link-to "simulation.index" simulation.id}}{{simulation.name}}{{/link-to}}
        </td>
        <td class="column-center">
          {{simulation.running}}
        </td>
        <td>
          <div class="simulations-row-controls">
            <a href="" {{action 'showRunningModal' simulation}}>Running</a>
            <a href="" {{action 'showEditModal' simulation}}>Edit</a>
            <a href="" {{action 'showDeleteModal' simulation}}>Delete</a>
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
</div>

<div class="simulations-new-container">
  <button {{action 'showNewModal'}}>New Simulation</button>
</div>

{{partial "dialog/simulations"}}
