<h1>Simulations</h1>

<div class="simulations-container">
  <table class="table-full-width">
    <tr>
      <th>Name</th>
      <th width="80px" class="column-center">Running</th>
      <th width="140px"></th>
    </tr>
    {{#each model as |simulation|}}
      <tr>
        <td>
          {{#link-to "simulation.index" simulation.id}}{{simulation.name}}{{/link-to}}
        </td>
        <td class="column-center">
          {{simulation.running}}
        </td>
        <td>
          <div class="simulations-row-controls">
            <a href="" {{action 'showRunningModal' simulation}}>Running</a>
            <a href="" {{action 'showEditModal' simulation}}>Edit</a>
            <a href="" {{action 'showDeleteModal' simulation}}>Delete</a>
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
</div>

<div class="simulations-new-container">
  <button {{action 'showNewModal'}}>New Simulation</button>
</div>

{{#if isShowingNewModal}}
  {{#modal-dialog attachment="middle center" translucentOverlay=true}}
    <h1>New simulation</h1>

    <form class="form-create-record" {{action 'submitNew' on='submit'}}>
      <table>
        <tr>
          <td>
            <label for="name">Name</label>
          </td>
          <td>
            {{input id='name' placeholder='Enter simulation name' value=name}}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button {{action 'cancelNew'}}>Cancel</button>
            <button type="submit">Create</button>
          </td>
        </tr>
      </table>
    </form>

    {{#if errorMessage}}
      <p><strong>Error:</strong> {{errorMessage}}</p>
    {{/if}}
  {{/modal-dialog}}
{{/if}}

{{#if isShowingEditModal}}
  {{#modal-dialog attachment="middle center" translucentOverlay=true}}
    <h1>Edit simulator</h1>

    <form class="form-edit-record" {{action 'submitEdit' on='submit'}}>
      <table>
        <tr>
          <td>
            <label for="name">Name</label>
          </td>
          <td>
            {{input id='name' placeholder='Enter simulation name' value=name}}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button {{action 'cancelEdit'}}>Cancel</button>
            <button type="submit">Save</button>
          </td>
        </tr>
      </table>
    </form>

    {{#if errorMessage}}
      <p><strong>Error:</strong> {{errorMessage}}</p>
    {{/if}}
  {{/modal-dialog}}
{{/if}}

{{#if isShowingDeleteModal}}
  {{#modal-dialog attachment="middle center" translucentOverlay=true}}
    <h1>Delete simulation</h1>

    <p>Are you sure you want to delete the simulation <b><i>{{simulation.name}}</i></b>?</p>

    <button {{action 'cancelDelete'}}>Cancel</button>
    <button {{action 'confirmDelete'}}>Delete</button>
  {{/modal-dialog}}
{{/if}}

{{#if isShowingRunningModal}}
  {{#modal-dialog attachment="middle center" translucentOverlay=true}}
    <h1>Simulation running</h1>

    {{simulation.name}}:

    <select onchange={{action "selectRunning" value="target.value"}}>
      <option value=true selected={{eq simulationRunning true}}>running</option>
      <option value=false selected={{eq simulationRunning false}}>not running</option>
    </select>

    <br />

    <button {{action 'cancelRunningSimulation'}}>Cancel</button>
    <button {{action 'confirmRunningSimulation'}}>Save</button>
  {{/modal-dialog}}
{{/if}}
